{% extends 'base_login.html' %}
{% block content %}

<h1> Approve your circlet</h1>
<h6> Here’s a quick snapshot of your invited patrons’ status and detailed goals. If all is good to go, approve the formation of the circlet below. </h6>
<br>

<table>
  <tr>
    <td class="label">Name</td>
    <td> | </td>
    <td class="label">Goal</td>
    <td> | </td>
    <td class="label">Due Date</td>
    <td> | </td>
    <td class="label">Monthly Payment</td>
    <td> | </td>
    <td class="label">Final Confirmation</td>
  </tr>
    {% for user_circlet in user_circlets %}
        <tr>
          <td>{{user_circlet.user.first_name}} {{user_circlet.user.last_name}}</td>
          <td></td>
          <td>{{user_circlet.circlet.goal_name}}</td>
          <td></td>
          <td style="text-align: center;">{{user_circlet.circlet.due_date.strftime('%B-%d-%Y')}}</td>
          <td></td>
          <td style="text-align: center;">{{user_circlet.monthly_payment}}</td>
          <td></td>
          <td style="text-align: center;">
            {% if user_circlet.is_confirmed %}
              <span style="color:green;">Confirmed</span>
            {% else %}
              <span style="color:red;">Pending</span>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
</table>
<br>
<div> In this Circlet, you'll save <b>$50</b> credit interest in <b>2 months </b> time. <div>
<div class="irreversible-oath">Sign here to irrevocably forever commit yourself to this circlet.</div>
<form action="/post_final_confirmation/{{circlet_id}}" method="POST">
  <input type="text" class="form-control" name= "signature" required> <br>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

{% endblock %}
