{% extends 'base_login.html' %}
{% block content %}

<form action="/invite_to_circlet" method="POST">
  <table>
    <tr>
      <td>Invite?</td>
      <td>Name</td>
     <!--  <td>Ranking</td> -->
      <td>Reliability</td>
      <td>Member since</td>
    </tr>
      {% for user in users %}
          <tr>
            <td><input type="checkbox" name="{{user.user_id}}" value="{{user.user_id}}"></input></td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <!-- <td>{{user.ranking}}</td> -->
            <td>{{user.reliability}}</td>
            <td>{{user.created_at.strftime('%B-%d-%Y')}}</td>
          </tr>
      {% endfor %}
  </table>
  <button type="submit">Submit</button>
</form>

{% endblock %}
