{% extends 'base.html' %}
{% block content %}
<style>
img {
  border-radius: 50%;
  margin-left: -230px;
}
</style>

<div class="container col-md-6 col-sm-12">
    <div class="row" style="align-content: left;">
        <img align="left" src="/static/joyce_profile_pic.jpeg" alt="Avatar" style="width:200px">
        <img align="left" src="/static/sapling.jpg" style="width:50px">
        <h1>Welcome Back {{first_name}}</h1>
    </div>


    <h1>My Circlets</h1>
    <br>
    <br>
    <h2>Circlet Countdown to Status</h2>
    <br>
    <div class="row">
        <span class="badge badge-pill badge-success"></span>
            <div class="giv-history-chart">
                <canvas id="donutChart"></canvas>
                <div id="donutLegend" class="chart-legend"></div>
            </div>

    </div>

    <span class="badge badge-pill badge-success"></span>
        <div class="giv-history-chart">
            <canvas id="donutChart"></canvas>
            <div id="donutLegend" class="chart-legend"></div>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<script type="text/javascript">
console.log("HEALJALDASDFASERASDfasc")
var donut_options = { responsive: true, cutoutPercentage: 75 };
var ctx_donut = $("#donutChart").get(0).getContext("2d");
$.get("/giv_donut.json", function (data) {
    console.log("GIVE ME A DONUT!!!")
    var myDonutChart = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: donut_options
                                          });
    $('#donutLegend').html(myDonutChart.generateLegend());
});
</script>


{% endblock %}